@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url("/static/styles/components/navigator.css");
@import url("/static/styles/components/card.css");

:root {
  --background: #2F4F4F;

  --white: #FFFFFF;
  --black: #000000;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6,
p, a, li, strong, small,
button, select, input, option,
label, div, span {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}

h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

a, button, select, option {
  cursor: pointer;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
}

.container {
  width: 100%;
  height: 100%;
  margin: 24px 24px 24px 120px;
  padding: 24px;
  border-radius: 10px;
  background-color: var(--white);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.button {
  padding: 10px 12px;
}