<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>

    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/styles/pages/about.css" />
  </head>

  <body>
    <div class="block">
      <div class="maga">
        <img src="/static/images/pfp/Maga.jpg" alt="Maga">

        <div class="content">
          <a href="https://github.com/mziyadabek">
            <h2>Maga</h2>
          </a>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, est?</p>
        </div>
      </div>

      <div class="arch">
        <img src="/static/images/pfp/Arch.jpg" alt="Arch">

        <div class="content">
          <a href="https://github.com/Arshynbeek">
            <h2>Arch</h2>
          </a>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, est?</p>
        </div>
      </div>

      <div class="dante">
        <img src="/static/images/pfp/Dante.jpg" alt="Dante">

        <div class="content">
          <a href="https://github.com/DaniyalAbdualiyev">
            <h2>Dante</h2>
          </a>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, est?</p>
        </div>
      </div>
    </div>

    <a href="/">
      <button>Back to Home</button>
    </a>
  </body>

</html>