<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .food.Name }}</title>

    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/styles/pages/action.css" />
  </head>

  <body>
    <div class="block">
      <div class="form">
        <h2>Edit {{ .food.Name }}</h2>
        <form id="edit-product-Form" action="/api/v1/edit-product" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="FoodID" id="FoodID" value="{{ .food.ID }}" />
          <input type="text" name="Name" id="Name" placeholder="Product Name" value="{{ .food.Name }}" required />
          <textarea name="Description" id="Description" rows="4" placeholder="Product Description" required>{{ .food.Description }}</textarea>
          <input type="number" name="Quantity" id="Quantity" placeholder="Product Quantity" value="{{ .food.Quantity }}" required />
          <input type="number" name="Price" id="Price" placeholder="Product Price" value="{{ .food.Price }}" required />

          <label>Choose Category</label>
          <ul>
            {{ range $category := .categories }}
              <li>
                <label>
                  <input type="radio" name="Category" id="Category{{ $category.ID }}" onchange="checkCategory()" value="{{ $category.ID }}" />
                  {{ $category.Name }}
                </label>
              </li>
            {{ end }}
          </ul>
      
          <button type="submit">Submit Change</button>
        </form>
        
        <form action="/api/v1/delete" method="POST">
          <input type="hidden" name="ID" id="ID" value="{{ .food.ID }}">
          <button type="submit">Delete Product</button>
        </form>

        <a href="/product/{{ .food.ID }}" class="link">Prevent Changes</a>
      </div>
    </div>
  </body>
</html>