<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .user.Name }}</title>
    
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/styles/pages/profile.css">
  </head>

  <body>

    {{ $userID := .user.ID }}
    <nav>
      <ul>
        <li>
          <ul>
            <li>
              <a href="">
                <button>
                  <img src="/static/images/icons/menu_navigation_icon.svg" alt="menu">
                </button>
              </a>
            </li>

            <li>
              <a href="/">
                <button>
                  <img src="/static/images/icons/home_icon.svg" alt="">
                </button>
              </a>
            </li>

            <li>
              <a href="/profile/{{ $userID }}">
                <button>
                  {{ range $order := .orders }}
                    {{ if eq $order.UserID $userID}}
                      <span class="mention"></span>
                      {{ break }}
                    {{ end }}
                  {{ end }}
                  <img src="/static/images/icons/bell_icon.svg" alt="">
                </button>
              </a>
            </li>
          </ul>
        </li>

        <li>
          <ul>
            <li>
              <a href="">
                <button>
                  <img src="/static/images/icons/info_information_icon.svg" alt="">
                </button>
              </a>
            </li>

            <li>
              <a href="">
                <button>
                  <img src="/static/images/icons/settings_icon.svg" alt="">
                </button>
              </a>
            </li>

            <li>
              {{ if $userID }}
                <a href="/profile/{{ $userID }}">
                  <button>
                    <img src="/static/images/icons/user_icon.svg" alt="">
                  </button>
                </a>
              {{ else }}
                <a href="/signin/">
                  <button>
                    <img src="/static/images/icons/log_in_icon.svg" alt="">
                  </button>
                </a>
              {{ end }}
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="container">
      <div class="info">
        <div class="user-pfp">
          {{ if .user.Picture }}
            <img src="{{ .user.Picture }}" alt="User Picture">
          {{ else }}
            <img src="/static/images/icons/camera_off_icon.svg" alt="User Picture">
          {{ end }}
        </div>

        <div class="user-info">
          <p>Name: <strong>{{ .user.Name }}</strong></p>
          <p>Username: <strong>{{ .user.Username }}</strong></p>
          <p>Email: <strong>{{ .user.Email }}</strong></p>
        </div>

        <div class="user-action">
          <a href="">
            <button class="button-neutral">
              <img src="/static/images/icons/edit_icon.svg" alt="">
              <!-- <img src="/static/images/icons/edit_write_pen_icon.svg" alt=""> -->
              Edit Profile
            </button>
          </a>

          <a href="/api/v1/signout/">
            <button class="button-negative">
              <img src="/static/images/icons/log_out_icon.svg" alt="">
              Sign Out
            </button>
          </a>
        </div>

        <div class="notifications">
          <h2>
            <img src="/static/images/icons/bell_icon.svg" alt="">
            Notifications
          </h2>
          
          {{ $notice := false }}
          {{ range $order := $.orders }}
            {{ range $food := $.foods }}
              {{ if eq $food.ID $order.FoodID }}
                <div class="notify">
                  <div class="notify-icon">
                    <img src="/static/images/icons/message_square_icon.svg" alt="">
                  </div>
                  
                  <div>
                    <h3>Action successful</h3>
                    <p>{{ $food.Name }} added to cart.</p>
                  </div>
                </div>
                {{ $notice = true }}
              {{ end }}
            {{ end }}
          {{ end }}
          {{ if not $notice }}
            <div class="notify">
              <h3>At the moment you have no notifications.</h3>
            </div>
          {{ end }}
        </div>
      </div>

      <div class="cart-block">
        <h2>Cart</h2>
        <div class="cart">
          {{ $item := false }}
          {{ range $order := $.orders }}
            {{ if eq $order.UserID $userID}}
              {{ range $food := $.foods }}
                {{ if eq $food.ID $order.FoodID }}
                  <div class="card">
                    <div class="card-img">
                      {{ range $picture := $food.Pictures }}
                        <img src="{{ $picture }}" alt="Drink image">
                        <span>
                          <img src="/static/images/icons/tag_icon.svg" alt="">
                          <strong>{{ $food.Price }}₸.</strong>
                        </span>
                      {{ end }}
                    </div>
      
                    <div class="card-info">
                      <div>
                        <h3>{{ $food.Name }}</h3>
                        <p>{{ $food.Description }}</p>
                      </div>
                      
                      <div>
                        <small>Quantity: <strong>{{ $food.Quantity }}</strong></small>
                        <span>
                          <span>
                            <form action="/api/v1/buy/" method="POST">
                              <input type="hidden" name="UserID" id="UserID" value="{{ $userID }}">
                              <input type="hidden" name="FoodID" id="FoodID" value="{{ $food.ID }}">
                              <button class="button" type="submit">
                                <img src="/static/images/icons/box_package_delivery_icon.svg" alt="">
                                Buy
                              </button>
                            </form>

                            <form action="/api/v1/remove/" method="POST">
                              <input type="hidden" name="UserID" id="UserID" value="{{ $userID }}">
                              <input type="hidden" name="FoodID" id="FoodID" value="{{ $food.ID }}">
                              <button class="button button-neutral" type="submit">
                                <img src="/static/images/icons/trash_icon.svg" alt="">
                                Remove
                              </button>
                            </form>
                          </span>
      
                          <a href="/product/{{ $food.ID }}" class="link">
                            more
                            <img src="/static/images/icons/external_link_icon.svg" alt="">
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                  {{ $item = true }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
          {{ if not $item }}
            <h3>Your cart is empty</h3>
          {{ end }}
        </div>
      </div>
    </div>

  </body>
</html>