<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .user.Name }}</title>

    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/styles/pages/profile.css" />
  </head>

  <body>

    {{ $userID := .user.ID }}
    <nav>
      <ul>
        <li>
          <ul>
            <li>
              <button class="menu">
                <img src="/static/images/icons/menu_navigation_icon.svg" alt="menu" class="menu-bar">
                <img src="/static/images/icons/x_icon.svg" alt="close" class="menu-close">
              </button>

              <form action="/api/v1/search/" method="GET" class="menu-open">
                <input type="search" name="query" placeholder=">_ Search">
                <button type="submit" class="button">
                  <img src="/static/images/icons/search_icon.svg" alt="Search">
                </button>
              </form>
            </li>

            <li>
              <a href="/" class="link">
                <button>
                  <img src="/static/images/icons/home_icon.svg" alt="">
                </button>
                <strong class="menu-open">Home</strong>
              </a>
            </li>

            <li>
              <a href="/profile/{{ $userID }}" class="link">
                <button>
                  {{ range $order := .orders }}
                    {{ if eq $order.UserID $userID }}
                      <span class="mention"></span>
                      {{ break }}
                    {{ end }}
                  {{ end }}
                  <img src="/static/images/icons/bell_icon.svg" alt="">
                </button>
                <strong class="menu-open">Notifications</strong>
              </a>
            </li>
          </ul>
        </li>

        <li>
          <ul>
            <li>
              <a href="/about/" class="link">
                <button>
                  <img src="/static/images/icons/info_information_icon.svg" alt="">
                </button>
                <strong class="menu-open">Info</strong>
              </a>
            </li>

            <li>
              <a href="/report/" class="link">
                <button>
                  <img src="/static/images/icons/settings_icon.svg" alt="">
                </button>
                <strong class="menu-open">Reports</strong>
              </a>
            </li>

            <li>
              {{ if $userID }}
                <a href="/profile/{{ $userID }}" class="link">
                  <button>
                    <img src="/static/images/icons/user_icon.svg" alt="">
                  </button>
                  <strong class="menu-open">Profile</strong>
                </a>
              {{ else }}
                <a href="/signin/" class="link">
                  <button>
                    <img src="/static/images/icons/log_in_icon.svg" alt="">
                  </button>
                  <strong class="menu-open">Sign In</strong>
                </a>
              {{ end }}
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="container">
      <div class="info">
        <div class="user-pfp">
          {{ $picture := false }}
          {{ if eq .user.Picture "/static/images/icons/camera_off_icon.svg" }}
            {{ $picture = true }}
          {{ end }}
          <img src="{{ .user.Picture }}" alt="User Picture" class="{{ $picture }}">
        </div>

        <div class="user-info">
          <p>Name: <strong>{{ .user.Name }}</strong></p>
          <p>Username: <strong>{{ .user.Username }}</strong></p>
          <p>Email: <strong>{{ .user.Email }}</strong></p>
        </div>

        <div class="user-action">
          <a href="/edit-profile/{{ $userID }}">
            <button class="button-neutral">
              <img src="/static/images/icons/edit_icon.svg" alt="">
              <!-- <img src="/static/images/icons/edit_write_pen_icon.svg" alt=""> -->
              Edit Profile
            </button>
          </a>

          <a href="/api/v1/signout/">
            <button class="button-negative">
              <img src="/static/images/icons/log_out_icon.svg" alt="">
              Sign Out
            </button>
          </a>
        </div>

        <div class="notifications">
          <h2>
            <img src="/static/images/icons/bell_icon.svg" alt="">
            Notifications
          </h2>

          {{ $notice := false }}
          {{ range $order := $.orders }}
            {{ range $food := $.foods }}
              {{ if eq $order.UserID $userID }}
                {{ if eq $food.ID $order.FoodID }}
                  <div class="notify">
                    <div class="notify-icon">
                      <img src="/static/images/icons/message_square_icon.svg" alt="">
                    </div>

                    <div>
                      <h3>Action successful</h3>
                      <p>{{ $food.Name }} added to cart.</p>
                    </div>
                  </div>
                  {{ $notice = true }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
          {{ if not $notice }}
            <div class="notify">
              <h3>At the moment you have no notifications.</h3>
            </div>
          {{ end }}
        </div>
      </div>

      <div class="user-details">
        <div class="cart-block">
          {{ $item := false }}
          <h2>Cart</h2>
          <div class="cart">
            {{ range $order := $.orders }}
              {{ if and (eq $order.UserID $userID) (not $order.Status) }}
                {{ range $food := $.foods }}
                  {{ if eq $food.ID $order.FoodID }}
                    <div class="card">
                      <div class="card-img">
                        {{ range $picture := $food.Pictures }}
                          <img src="{{ $picture }}" alt="Drink image">
                          <span>
                            <img src="/static/images/icons/tag_icon.svg" alt="">
                            <strong>{{ $food.Price }}₸.</strong>
                          </span>
                        {{ end }}
                      </div>
  
                      <div class="card-info">
                        <div>
                          <h3>{{ $food.Name }}</h3>
                          <p>{{ $food.Description }}</p>
                        </div>
  
                        <div>
                          <small>Quantity: <strong>{{ $order.Quantity }}</strong></small>
                          <span>
                            <form action="/api/v1/remove/" method="POST">
                              <input type="hidden" name="UserID" value="{{ $userID }}">
                              <input type="hidden" name="FoodID" value="{{ $food.ID }}">
                              <button class="button button-neutral" type="submit">
                                <img src="/static/images/icons/trash_icon.svg" alt="">
                                Remove
                              </button>
                            </form>
  
                            <a href="/product/{{ $food.ID }}" class="link">
                              more
                              <img src="/static/images/icons/external_link_icon.svg" alt="">
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                    {{ $item = true }}
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
            {{ if not $item }}
              <h3>Your cart is empty</h3>
            {{ end }}
          </div>
  
          {{ if $item }}
            <span>
              <h3 id="price">Total Price: 0₸.</h3>
              <form action="/api/v1/buy/" method="POST">
                <input type="hidden" name="UserID" value="{{ $userID }}" />
                <button class="button">
                  <img src="/static/images/icons/box_package_delivery_icon.svg" alt="">
                  Buy
                </button>
              </form>
            </span>
          {{ end }}
        </div>

        <div class="order-block">
          {{ $item := false }}
          <h2>Your Order</h2>
          <div class="order">
            {{ range $order := $.orders }}
              {{ if and (eq $order.UserID $userID) $order.Status }}
                {{ range $food := $.foods }}
                  {{ if eq $food.ID $order.FoodID }}
                    <div class="card">
                      <div class="card-img">
                        {{ range $picture := $food.Pictures }}
                          <img src="{{ $picture }}" alt="Drink image">
                          <span>
                            <img src="/static/images/icons/tag_icon.svg" alt="">
                            <strong>{{ $food.Price }}₸.</strong>
                          </span>
                        {{ end }}
                      </div>
  
                      <div class="card-info">
                        <div>
                          <h3>{{ $food.Name }}</h3>
                          <p>{{ $food.Description }}</p>
                        </div>
  
                        <div>
                          <small>Quantity: <strong>{{ $order.Quantity }}</strong></small>
                          <a href="/product/{{ $food.ID }}" class="link">
                            more
                            <img src="/static/images/icons/external_link_icon.svg" alt="">
                          </a>
                        </div>
                      </div>
                    </div>
                    {{ $item = true }}
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
            {{ if not $item }}
              <h3>You haven't ordered anything yet.</h3>
            {{ end }}
          </div>
  
          {{ if $item }}
            <span>
              <h3 id="total">Total Price: 0₸.</h3>
            </span>
          {{ end }}
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        function calculateTotalPrice(containerSelector, totalElementId) {
          const container = document.querySelectorAll(containerSelector + ' .card');
          let total = 0;

          container.forEach(function (card) {
            const priceElement = card.querySelector(".card-img strong");
            const quantityElement = card.querySelector(".card-info small strong");

            const price = parseFloat(priceElement.textContent);
            const quantity = parseInt(quantityElement.textContent);

            total += price * quantity;
          });

          const totalDisplayElement = document.getElementById(totalElementId);
          if (totalDisplayElement) {
            totalDisplayElement.textContent = `Total Price: ${total.toFixed(2)}₸.`;
          }
        }

        function updateTotalPrices() {
          calculateTotalPrice('.cart', 'price');
          calculateTotalPrice('.order', 'total');
        }

        updateTotalPrices();
      });
    </script>

  <script src="/static/script.js"></script>

  </body>

</html>