<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .title }}</title>
  </head>

  <body>
    <div class="container">
      <h1>Sign Up</h1>
      <form id="signupForm" action="/api/v1/signup" method="POST">
        <label for="Name">Full Name:</label>
        <input type="text" id="Name" name="Name" required />
    
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username" required />
    
        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email" required />
    
        <label for="Password">Password:</label>
        <input type="password" id="Password" name="Password" required />

        <label for="Picture">Profile Picture</label>
        <input type="file" id="Picture" name="Picture" />
    
        <button type="submit">Sign Up</button>
    </form>
    </div>
  </body>
</html>
