.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.carousel {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.dot {
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--grey);
  transition: all 0.3s;
}

.dot:last-child {
  margin-right: 0;
}

.dot.active {
  padding: 5px 10px;
  background-color: var(--background);
}

.food {
  position: relative;
  flex: 0 0 100%;
  height: 400px;
  transition: transform 0.5s ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;

  .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    min-width: 200px;
    padding: 16px 20px;
    position: absolute;
    bottom: 10%;
    left: 5%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px -5px 100px black;
    color: var(--white);
  
    button {
      margin-top: 16px;
    }
  }
}

.products-block {
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  gap: 20px;
}