.container {
  display: flex;
  gap: 40px;
}

.food-img-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}

.food-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:nth-child(1) {
    grid-column: 1/-1;
    grid-row: 1/3;
  }

  &:nth-child(:not(:nth-child(1))) {
    grid-row: 4/6;
  }
}