.container {
  display: flex;
  gap: 40px;

  > div {
    border: 1px solid black;
  }
}

.food-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}

.food-img {
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    max-height: 10vh;
    object-fit: cover;
  }

  &:nth-child(1) {
    grid-column: 1/-1;
    grid-row: 1/4;
    background-color: red;
  }

  &:nth-child(2) {
    grid-column: 1/2;
    grid-row: 4/6;
    background-color: green;
  }

  &:nth-child(3) {
    grid-column: 2/3;
    grid-row: 4/6;
    background-color: green;
  }
  
  &:nth-child(4) {
    grid-column: 3/4;
    grid-row: 4/6;
    background-color: green;
  }
}

.food-info {

  .feedbacks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
      margin-top: 40px;
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .feedback {
      padding: 10px;
      border-radius: 10px;
      background-color: var(--grey);
      display: flex;
      gap: 16px;
      
      .user-pfp {
        height: 100%;
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: var(--white);
      }
    }
  }
}

form {
  width: 100%;

  input, textarea {
    resize: none;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--black);
    border-radius: 8px;
    font-size: 16px;
  }
}