.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.food-details {
  display: flex;
  gap: 40px;
}

.food-view {
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}

.food-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 5px var(--black);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:nth-child(1) {
    grid-column: 1/-1;
    grid-row: 1/4;
    max-height: 500px;
  }

  &:nth-child(2) {
    grid-column: 1/2;
    grid-row: 4/6;
    max-height: 300px;
  }

  &:nth-child(3) {
    grid-column: 2/3;
    grid-row: 4/6;
    max-height: 300px;
  }
  
  &:nth-child(4) {
    grid-column: 3/4;
    grid-row: 4/6;
    max-height: 300px;
  }
}

.food-info {
  .feedbacks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
      margin-top: 40px;
      margin-bottom: 0px;
      display: flex;
      align-items: center;
      gap: 6px;
    }

    h3 {
      width: 100%;
      display: flex;
      align-items: start;
      gap: 10px;
    }

    .feedback {
      padding: 10px;
      border-radius: 10px;
      background-color: var(--grey);
      display: flex;
      gap: 16px;
      
      .user-pfp {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: var(--white);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .true {
          width: 60%;
          height: 60%;
        }
      }
    }
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;

  span {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.rating {
  display: inline-flex;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > label {
  display: inline-block;
  padding: 5px;
  font-size: 25px;
}

.rating > input[type="radio"] {
  display: none;
}

.rating > label:before {
  content: "\2605";
  margin-right: 5px;
  color: #ccc;
  cursor: pointer;
}

.rating > input[type="radio"]:checked ~ label:before,
.rating:not(:checked) > label:hover ~ label:before {
  color: gold;
}

.stars {
  font-size: 20px;
  display: inline-flex;
}

.star {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: var(--black);
}
.star:before {
  content: '\2606';
}
.stars.stars-1 .star:nth-child(-n + 1) {
  color: gold;
}
.stars.stars-2 .star:nth-child(-n + 2) {
  color: gold;
}
.stars.stars-3 .star:nth-child(-n + 3) {
  color: gold;
}
.stars.stars-4 .star:nth-child(-n + 4) {
  color: gold;
}
.stars.stars-5 .star:nth-child(-n + 5) {
  color: gold;
}
.stars.stars-1 .star:nth-child(-n + 1):before,
.stars.stars-2 .star:nth-child(-n + 2):before,
.stars.stars-3 .star:nth-child(-n + 3):before,
.stars.stars-4 .star:nth-child(-n + 4):before,
.stars.stars-5 .star:nth-child(-n + 5):before {
  content: '\2605';
}

.products {
  display: flex;
  gap: 20px;
}